#hero {
  background: url('././Images/houstonSkyline.jpg') #333;
  background-position: center;
  background-size: 100%;
  height: 225px;
  width: 1086px;
  position: relative;
}

.byline {
  font-style:italic;
}
